<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fm.meyer.FindDatEmojiDev</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>16B5910C-8088-46BF-AE4E-EFA8187C4407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2404AE08-D4CF-4265-B7BB-44043DD356DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18314CAD-E0C0-45FD-A21E-69F5D30C7DE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9006EDF2-1C48-490F-9E50-187D8E0384F6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2404AE08-D4CF-4265-B7BB-44043DD356DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6684C3DA-026B-4B8D-ADCA-4514C8BEB053</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16B5910C-8088-46BF-AE4E-EFA8187C4407</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CEBAC27D-23A5-4336-96C5-A9B7F422663B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6684C3DA-026B-4B8D-ADCA-4514C8BEB053</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2404AE08-D4CF-4265-B7BB-44043DD356DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEBAC27D-23A5-4336-96C5-A9B7F422663B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2404AE08-D4CF-4265-B7BB-44043DD356DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Galdino and Mike Meyer</string>
	<key>description</key>
	<string>A nicer alternative to the system emoji picker</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Find Dat Emoji DEV</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>9006EDF2-1C48-490F-9E50-187D8E0384F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2404AE08-D4CF-4265-B7BB-44043DD356DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>testmoji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>One moment please…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>emoji.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search emoji…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18314CAD-E0C0-45FD-A21E-69F5D30C7DE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>6684C3DA-026B-4B8D-ADCA-4514C8BEB053</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>16B5910C-8088-46BF-AE4E-EFA8187C4407</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CEBAC27D-23A5-4336-96C5-A9B7F422663B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Emoji search for Alfred!
- Adjust skin tone by adding -t1 through -t6 to your search query
- Copy as Ruby by using -r</string>
	<key>uidata</key>
	<dict>
		<key>16B5910C-8088-46BF-AE4E-EFA8187C4407</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>18314CAD-E0C0-45FD-A21E-69F5D30C7DE5</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>2404AE08-D4CF-4265-B7BB-44043DD356DD</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>6684C3DA-026B-4B8D-ADCA-4514C8BEB053</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>9006EDF2-1C48-490F-9E50-187D8E0384F6</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>CEBAC27D-23A5-4336-96C5-A9B7F422663B</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/meyer/alfred-emoji-workflow</string>
</dict>
</plist>
